@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../../node_modules/swiper/dist/css/swiper.css';
@import 'variables';


* {
    font-family: 'Poopins', sans-serif;
}

html,body {
    background-color: var(--featured-dark) !important;
    color: var(--light) !important;
    height: 100%;
    margin: 0
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

hr {
    border-color: rgba(255, 255, 255, 0.527) !important;
    box-shadow: 0px 0px 5px 1px #d34178 !important;
}

.card {
    background-color: var(--featured-second-dark) !important;
    color: var(--light);
}

.modal-title {
    color: var(--featured-second-dark);
}

.btn-primary {
    border-color: var(--featured) !important;
    background-color: var(--featured) !important;
    color: var(--ligth) !important;

    &:hover {
        background-color: var(--featured-second) !important;
    }
}