@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../../node_modules/swiper/dist/css/swiper.css';
@import 'variables';

* {
    font-family: 'Poopins', sans-serif;
}

body {
    background-color: #2f3136 !important;
    color: var(--light) !important;
}
.card {
  background-color: #40444b !important;
  color: var(--light);
}

.btn-primary {
    border-color: var(--featured) !important;
    background-color: var(--featured) !important;
    color: var(--ligth) !important;

    &:hover {
        background-color: var(--featured-second) !important;  
    }
}
